@model IEnumerable<YURT_OTOMASYONU.Data.Odemeler>


<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>



<div class="container">
    <table id="odemeYapmayanlar" class="table table-bordered">
        <thead>
            <tr>
                <th>Ad Soyad</th>
                <th>TC</th>
                <th>OdaNo</th>
                <th>Telefon Numarası</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Ogrenci.Ad @item.Ogrenci.Soyad</td>
                    <td>@item.Ogrenci.TCKimlikNo</td>
                    <td>@item.Ogrenci.OdaNo</td>
                    <td>@item.Ogrenci.TelefonNo</td>
                </tr>
            }
        </tbody>
    </table>
</div>


<script>
    $(document).ready(function () {
        $('#odemeYapmayanlar').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
            }
        });
    });
</script>
