@model IEnumerable<YURT_OTOMASYONU.Data.Odemeler>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>



<div class="container">
    <a data-modal-form="true"
       data-modal-size="modal-lg"
       data-modal-title="Ödeme Yapmayanlar Listesi"
       href="@Url.Action("NoPayment", "Personel", routeValues: new {Area = string.Empty})"
       data-hook-beforeunload="true"
       style="margin-bottom:10px"
       class="btn btn-danger">
        Ödeme Yapmayanları Gör
    </a>
    <table id="odemeYapanlar" class="table table-bordered">
        <thead>
            <tr>
                <th>Ad Soyad</th>
                <th>TC</th>
                <th>Ödeme Tarihi</th>
                <th>Tutar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Ogrenci.Ad @item.Ogrenci.Soyad</td>
                    <td>@item.Ogrenci.TCKimlikNo</td>
                    <td>@item.OdemeTarihi</td>
                    <td>@item.Tutar</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#odemeYapanlar').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
            }
        });
    });
</script>
