<<<<<<< HEAD
﻿@model IEnumerable<YURT_OTOMASYONU.Data.Odemeler>

=======
﻿
>>>>>>> 34a90b3b36e2a6271f179ca0f3e566b6c87e05f8
<div class="container">
    <button style="margin-bottom:10px" class="btn btn-danger">Ödeme Yapmayanları Gör</button>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Ad Soyad</th>
                <th>TC</th>
                <th>Ödeme Tarihi</th>
                <th>Tutar</th>
            </tr>
        </thead>
        <tbody>
<<<<<<< HEAD
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Ogrenci.Ad @item.Ogrenci.Soyad</td>
                    <td>@item.Ogrenci.TCKimlikNo</td>
                    <td>@item.OdemeTarihi</td>
                    <td>@item.Tutar</td>
                </tr>
            }

=======
            <tr>
                <td>isim</td>
                <td>tc</td>
                <td>ödeme tarihi</td>
                <td>tutar</td>
            </tr>
>>>>>>> 34a90b3b36e2a6271f179ca0f3e566b6c87e05f8
        </tbody>
    </table>
</div>