 
﻿@model IEnumerable<YURT_OTOMASYONU.Data.Odemeler>
 
<div class="container">
    <a data-modal-form="true"
       data-modal-size="modal-lg"
       data-modal-title="Ödeme Yapmayanlar Listesi"
       href="@Url.Action("NoPayment", "Personel", routeValues: new {Area = string.Empty})"
       data-hook-beforeunload="true"
       style="margin-bottom:10px"
       class="btn btn-danger">
        Ödeme Yapmayanları Gör
    </a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Ad Soyad</th>
                <th>TC</th>
                <th>Ödeme Tarihi</th>
                <th>Tutar</th>
            </tr>
        </thead>
        <tbody>
 
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Ogrenci.Ad @item.Ogrenci.Soyad</td>
                    <td>@item.Ogrenci.TCKimlikNo</td>
                    <td>@item.OdemeTarihi</td>
                    <td>@item.Tutar</td>
                </tr>
            }
                        <tr>
                <td>isim</td>
                <td>tc</td>
                <td>ödeme tarihi</td>
                <td>tutar</td>
            </tr>
            </tbody>
    </table>
</div>