
@model List<YURT_OTOMASYONU.Data.Ogrenci>



<!DOCTYPE html>
<html lang="tr" dir="ltr">
<head>
    <meta charset="utf-8" />
    <title>LoginPage</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
    <script src="~/Scripts/custom.modal.form.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

</head>
<body>
    <div style="margin-top:100px;margin-left:10px" class="btn-group">
        <button style="margin-right:10px" type="button" class="btn btn-success">Öğrenciler</button>
        <div class="vr"></div>
        <a href="@Url.Action("PersonelList", "Personel", routeValues: new {Area = string.Empty})" class="btn btn-success">Personeller</a>

    </div>
    <div style="margin-top:30px;margin-left:10px">

        <a data-modal-form="true"
           data-modal-size="modal-lg"
           data-modal-title="Öğrenci Ekle"
           href="@Url.Action("AddStudent", "Personel", routeValues: new {Area = string.Empty})"
           data-hook-beforeunload="true"
           class="btn btn-primary">
            Öğrenci Ekle
        </a>


        <a data-modal-form="true"
           data-modal-size="modal-lg"
           data-modal-title="İzin İsteyenler"
           href="@Url.Action("PermissionList", "Personel", routeValues: new {Area = string.Empty})"
           data-hook-beforeunload="true"
           class="btn btn-danger">
            İzin İsteyenler
        </a>


        <a data-modal-form="true"
           data-modal-size="modal-lg"
           data-modal-title="Ödeme Yapanlar"
           href="@Url.Action("Payment", "Personel", routeValues: new {Area = string.Empty})"
           data-hook-beforeunload="true"
           class="btn btn-warning">
            Ödemeler
        </a>

        <a data-modal-form="true"
           data-modal-size="modal-lg"
           data-modal-title="Yardımlar"
           href="@Url.Action("CallHelp", "Personel", routeValues: new {Area = string.Empty})"
           data-hook-beforeunload="true"
           class="btn btn-info">
            Yardımlar
        </a>

        <div style="margin-top:20px" class="container">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Ad Soyad</th>
                        <th>TC</th>
                        <th>Oda No</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>@item.Ad @item.Soyad</td>
                            <td>@item.TCKimlikNo</td>
                            <td>@item.OdaNo</td>
                            <td>
                                <button type="button" class="btn btn-info">Sil</button>
                                <a data-modal-form="true"
                                   data-modal-size="modal-xl"
                                   data-modal-title="Öğrenci Düzenle"
                                   href="@Url.Action("EditStudent","Personel",routeValues: new {ogrenciId = item.Id})"
                                   class="btn btn-info  ">
                                    Düzenle
                                </a>
                            </td>


                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>



