

@model List<YURT_OTOMASYONU.Data.Personel>



<!DOCTYPE html>
<html lang="tr" dir="ltr">
<head>
    <meta charset="utf-8" />
    <title>LoginPage</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="~/Scripts/custom.modal.form.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

</head>
<body>
    <div style="margin-top:100px;margin-left:10px" class="btn-group">
        <a href="@Url.Action("Index", "Personel", routeValues: new {Area = string.Empty})" style="margin-right:10px" class="btn btn-success">Öğrenciler</a>
        <div class="vr"></div>
        <a href="@Url.Action("PersonelList", "Personel", routeValues: new {Area = string.Empty})" class="btn btn-success">Personeller</a>
    </div>
    <div style="margin-top:30px;margin-left:10px">
        <a data-modal-form="true"
           data-modal-size="modal-lg"
           data-modal-title="Personel Ekle"
           href="@Url.Action("AddPersonel", "Personel", routeValues: new {Area = string.Empty})"
           data-hook-beforeunload="true"
           class="btn btn-primary">
            Personel Ekle
        </a>
        @*Müdür Personel Sayfası Arama Backend #19 DataTable ile otomatik olarak yapılmıştır*@
        <div style="margin-top:20px" class="container">
            <h5>
                Personel Listesi
            </h5>
            <table id="tblCustomers" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Ad Soyad</th>
                        <th>TC</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Ad @item.Soyad</td>
                            <td>@item.TCKimlikNo</td>
                            <td>
                                <button data-id="@item.Id" type="button" class="btn btn-info personelSıl">Sil</button>
                                <button type="button" class="btn btn-info">Düzenle</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>



<script>
    $(document).ready(function () {
        $('#tblCustomers').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
            }
        });
    });</script>

<script type="text/javascript">
    $(function () {

        $("#sendSearch").click(function () {
            GetPersonel();
        });
    });
    function GetPersonel() {
        var PersonelName = $.trim($("#txtPersonelName").val());
        $.ajax({
            type: "POST",
            url: "/Personel/SearchPersonel",
            data: "{personelName:'" + PersonelName + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (personel) {
                var table = $("#tblCustomers");
                table.find("tr:not(:first)").remove();
                $.each(personel, function (i, customer) {
                    var table = $("#tblCustomers");
                    var row = table[0].insertRow(-1);
                    $(row).append("<td />");
                    $(row).find("td").eq(0).html(customer.Ad);
                    $(row).append("<td />");
                    $(row).find("td").eq(1).html(customer.TCKimlikNo);
                    $(row).append("<td />");
                    $(row).find("td").eq(2).append('<button style=margin-right:10px type="button" class="btn btn-info">Sil</button><button type = "button" class= "btn btn-info"> Düzenle</button>');
                });
            }
        });
    }</script>


<script>
    $(".personelSıl").click(function () {
        var personelId = $(this).attr("data-id");
        var confirmDelete = confirm('Personeli silmek istediğinizden emin misiniz?');
        if (confirmDelete) {
            $.ajax({
                  type: "POST",
                 url: '@Url.Action("DeletePersonel", "Personel")',
                data: JSON.stringify({ 'id': personelId }),
             contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    if (result.success) {
                        alert("Personel silindi");
                    }
                }
            });
        }
    });
</script>