
<!DOCTYPE html>
<html lang="tr" dir="ltr">
<head>
    <meta charset="utf-8" />
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
    <script src="~/Scripts/custom.modal.form.js"></script>
</head>
<body>
    <div class="container">
        <div style="margin-top:10px" class="row">
            <div class="col">
                <a data-modal-form="true"
                   data-modal-size="modal-xl"
                   data-modal-title="İzin işlemleri"
                   href="@Url.Action("Permission", "Student", routeValues: new {Area = string.Empty})"
                   data-hook-beforeunload="true"
                   class="button">
                    İzin işlemleri
                </a>
            </div>
            <div class="col">
                <a data-modal-form="true"
                   data-modal-size="modal-xl"
                   data-modal-title="Ödeme Yap"
                   href="@Url.Action("Payment", "Student", routeValues: new {Area = string.Empty})"
                   data-hook-beforeunload="true"
                   class="button">
                    Ödeme Yap
                </a>
            </div>
        </div>

        <div style="margin-top:10px" class="row">
            <div class="col">
                <a data-modal-form="true"
                   data-modal-size="modal-xl"
                   data-modal-title="Yardım Çağır"
                   href="@Url.Action("CallHelp", "Student", routeValues: new {Area = string.Empty})"
                   data-hook-beforeunload="true"
                   class="button">
                    Yardım Çağır
                </a>
            </div>
            <div class="col">
                <a data-modal-form="true"
                   data-modal-size="modal-xl"
                   data-modal-title="Şifre Değiştir"
                   href="@Url.Action("EditPassword", "Student", routeValues: new {Area = string.Empty})"
                   data-hook-beforeunload="true"
                   class="button">
                    Şifre Değiştir
                </a>
            </div>

        </div>
        <div style="margin-top:10px" class="row">
            <div class="col">
                <a data-modal-form="true"
                   data-modal-size="modal-xl"
                   data-modal-title="Günün Yemeği"
                   href="@Url.Action("DayFood", "Student", routeValues: new {Area = string.Empty})"
                   data-hook-beforeunload="true"
                   class="button">
                    Günün Yemeği
                </a>
            </div>
            <div class="col">
                <a href="@Url.Action("Profile","Student", routeValues: new {Area = string.Empty,ogrenciId=ViewBag.OgrenciId})" class="button">Profil</a>
                <a style="margin-top:10px;margin-bottom:10px" href="@Url.Action("Logout","Login")" class="button">Çıkış Yap</a>
            </div>
        </div>
    </div>
    
</body>
</html>

<style>


    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html, body {
        height: 100%;
    }

    body {
        background: linear-gradient(120deg,#2980b9, #8e44ad);
        font-family: 'Poppins',sans-serif;
        font-weight: 400;
        height: 100vh;
    }

    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1200px;
        background: white;
        border-radius: 10px;
        box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
    }

        .container h1 {
            text-align: center;
            padding: 20px 0;
        }

    .şifre {
        float: left;
        background-color: mediumpurple;
        margin-left: 150px;
        position: relative;
        text-decoration: none;
        padding: 10px 50px;
        font-size: 1.25rem;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        color: white;
        border-radius: 30px;
        box-shadow: 0 0 0 0 rgba(143,64,248,0.5),0 0 0 0 rgba(39,200,255,0.5);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        width: 230px;
        height: 50px;
        margin-top: 32px;
        margin-bottom: 32px;
    }

        .şifre::after {
            content: "";
            width: 40px;
            height: 40px;
            position: absolute;
            top: -50px;
            left: -100px;
            background-color: #ff3cac;
            background-image: linear-gradient(225deg,#27d86c 0%,#26caf8 50%, #c625d0 100%);
            z-index: -1;
            transition: transform 0.5s ease;
        }

        .şifre:hover {
            transform: translate(0,6px);
            box-shadow: 10px -10px 25px 0 rgba(143,64,248,0.5),-10px 10px 25px rgba(39,200,255,0.5);
        }

    .button {
        float: left;
        background-color: mediumpurple;
        margin-left: 150px;
        position: relative;
        text-decoration: none;
        padding: 20px 50px;
        font-size: 1.25rem;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        color: white;
        border-radius: 30px;
        box-shadow: 0 0 0 0 rgba(143,64,248,0.5),0 0 0 0 rgba(39,200,255,0.5);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        width: 200px;
        height: 150px;
        text-align: center;
        line-height: 50px;
    }

        .button::after {
            content: "";
            width: 40px;
            height: 40px;
            position: absolute;
            top: -50px;
            left: -100px;
            background-color: #ff3cac;
            background-image: linear-gradient(225deg,#27d86c 0%,#26caf8 50%, #c625d0 100%);
            z-index: -1;
            transition: transform 0.5s ease;
        }

        .button:hover {
            transform: translate(0,6px);
            box-shadow: 10px -10px 25px 0 rgba(143,64,248,0.5),-10px 10px 25px rgba(39,200,255,0.5);
        }
</style>

